html {
  overflow: none;
}

@set body {
  :root {
    margin: 0;
    background: lime;
  }

  img {
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
  }

  #hand {
    transform-origin: 100px 100px;
    width: 1400px;
    height: 1500px;
  }

  #arm {
    transform-origin: 522px 474px;
    width: 1400px;
    height: 1500px;
  }
}
